nav {
  background-color: rgb(24, 142, 96);
  font-family: 'Lato', sans-serif;
}


.dropbtn, .home, .navbtn {
    background-color: rgb(24, 142, 96);
    color: white;
    padding: 16px;
    font-size: 16px;

    text-decoration: none;
    border: none;
    cursor: pointer;
}

.main-logo {
  width: 350px;
}

.home {
  margin-left: 30px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(249, 249, 249);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    right: 0;
}

.dropdown-content a:hover {
  background-color: rgb(241, 241, 241);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(17, 109, 58);
}

.page {
  font-family: 'Lato', sans-serif;
  text-align: center;
}


button.dropbtn a {
  text-decoration: none;
  color: white;
}

.editbtn a {
  text-decoration: none;
  color: rgb(0,0,0);
  cursor: default;
}

.centered-display {
  display: flex;
  justify-content: center;
}

.display-table {
  margin-left: 100px;
  font-size: 1.2rem;
}

.display-table th {
  color: rgb(255,255,255);
}

.display-table th, td {
  padding: 15px;
}

.display-table tr:first-of-type {
  background-color: rgb(24, 142, 96);
}

.display-table tr {
  background-color: rgb(209, 231, 207);
}

.display-table td:hover, tr:hover {
  background-color: rgb(241, 241, 241);
}

.display-table td:nth-last-of-type(2), .display-table td:last-of-type {
  background-color: rgb(255,255,255);
}

.display-table a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.centered-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-form {
  background-color: rgb(209, 231, 207);
  width: 60%;
  margin-top: 30px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-width: 300px;
}

.new-form h1 {
  padding: 15px;
  margin: 0px;
  color: rgb(255, 255, 255);
  background-color: rgb(24, 142, 96);
  display: flex;
  flex-direction: column;
}


.form-content {
  text-align: left;
  font-size: 1.3rem;
  padding: 15px;
}

.form-content input:last-of-type {
  text-align: center;
}

.form-question {
  margin: 10px 0px;
}

.new-form input, select {
  font-size: 1.3rem;
}

.submit-btn {
  margin: 10px 4px;
  padding: 10px;
  font-size: 1.3rem;
  background-color: rgb(24, 142, 96);
  border: none;
  border-radius: 10px;
  color: white;
  display: inline-block;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: rgb(17, 109, 58);
}

.question-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
}
