<h1>Congratulations, you've completed your goal!</h2>
<p>Congratulations, <%=@hiker.first_name%>! You've just completed your goal to climb
<%if @hiker.munro_goal == 1 %>
<%="#{@hiker.munro_goal} munro"%>
<%else%>
<%="#{@hiker.munro_goal} munros"%>
<%end%>
!</p>
<p>Here, have a cookie - you deserve it!</p>
<img id="cookie" src="/images/cookies.png" alt="cookie-image">
<p>Once you're done munching, you can create a new goal in your <a href="/hikers/<%=@hiker.id%>/edit">profile settings</a> or <a href="/hikes">go back to the list of all hikes</a>.</p>
