<p><a href="/hikers/new">Add a new hiker</a>
<h1>All intrepid hikers:</h1>
<% for hiker in @hikers %>
<div>
  <p>Name: <%= hiker.full_name() %></p>

  <p><%if hiker.unique_hikes_no == 1 %>
     <%= "#{hiker.unique_hikes_no} munro"%>
     <% else %>
    <%= "#{hiker.unique_hikes_no} munros"%>
    <% end %> bagged to date.</p>
  <p><a href= "/hikers/<%= hiker.id %>">Learn more about this hiker</a></p>
  <hr>
</div>
<% end %>
