<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Munro Bagger</title>
  </head>
  <body>
    <p><a href="/">Home</a>
    <p><a href="/hikers">Hikers</a>
    <p><a href="/munros">Munros</a>
    <%= yield %>
  </body>
</html>
