<h1>Add a new munro</h1>

<form method="post" action="/munros">
  <label for="name">Name:</label>
  <input id ="name" type="text" name="name"/>

  <label for="region">Region:</label>
  <input id ="region" type="text" name="region"/>

  <label for="altitude">Altitude (in meters):</label>
  <input id ="altitude" type="number" name="altitude"/>

  <input type="submit" value="Add munro"/>

</form>
